body {
    background-image: url(https://preview.redd.it/oaqewi1c5am21.jpg?width=1600&format=pjpg&auto=webp&s=e49e8fb5549c96a1ab546ed89f9403642d514a6c) 
    
}

p.notice{
    text-align: center;
    color:darkblue
}

.Searchbar{
    float: none;
    text-align: right;
}
